.nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    z-index: 100;
    color: #f5fbfe;
    /* height: 9.469696969696969vh;75px; */
    height: 64px;
    background-color: #121212;
    padding: 0 2em;
    /* font-size: 1.75rem; */
    font-size: 22px;
    box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2);
    /*background-color: /*#95abc59a*/ /*48484a;*/
}
.buts {
    display: flex;
}
.button {
    background-color: #0EF0FB ;
    padding: 5px 15px;
    border-radius: 3px;
    /* font-size: 1.25rem; */
    font-size: 18px;
    color: #121212;
    cursor: pointer;
}
.button:hover {
    background-color: #2eb4fc;
}
.speed {
    margin-left: 10px;
}
@media only screen and (max-width: 700px) {
    .nav {
        font-size: 1rem;
    }
    .button {
        font-size: 1rem;
    }
    .drop-content {
        margin-left: 0.65em !important;
        width: 45.5px !important;
    }
}
.drop-content{
    position: relative;
    margin-left: 0.64em;
    font-size: 1rem;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 48px;
    /* min-width: 160px; */
    box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.3s;
  }
  .drop-content div {
    text-align: center;
    float: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
  }
  .drop-content div:hover {
    background-color: #ddd;
    cursor: pointer;
    transition: 0.3s;
  }
  .drop:hover .drop-content {
    transition: 0.3s;
    display: block;
  }
  .drop:hover .speed {
    background-color: #2eb4fc;
  }