footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    /* position: absolute; */
    /* text-align: left; */
    /* width: 100vw; */
    max-width: -webkit-fill-available;
    bottom: 0;
    background-color: #121212d2;
    color: #ffffff;
    padding: 1em 5em;
    font-size: 1rem;
}

/* @media only screen and (min-width: 1120px) {
    footer {
        position: absolute;
        width: 100vw;
    }
} */

.fab {
    color: #ffffff;
}