.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* height: 100vh;background-size: cover; */
  background-image: linear-gradient(to top left, #a5dcfa, #f2fcfe /*#b8e6ff*/);
  height: 100%;
  position: relative;
  overflow-x: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-color: #a5dcfa; */
  /* background-color: #F5FBFE */
  /* background-image: linear-gradient(to bottom right, red, #67aeff) */
  /*background-color: /*#1c1c1c*/ /*#212121*/;
}

/* @media only screen and (min-width: 1120px) {
  body {
    height: 100vh;
  }
  } */

  .scrollable-element {
    scrollbar-color: #f2fcfe #272b3d;
  }

  /* Chrome, Safari */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  }
  ::-webkit-scrollbar-track-piece  {
  background-color: #f2fcfe;
  }
  ::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #272b3d;
  }